<!-- Contact -->
<section id="contact" class="contact">

  <!-- Title -->
  <div class="row title">
    <h2>Contact</h2>
    <hr>
  </div>
  <div class="row">
    <!-- Contact form -->
    <div class="six col offset-by-one">
      <!-- Succes message after sending the form, see also the php file around line 90 -->
      <div id="message" class="c-message"></div>
      <!-- Form -->
      <form method="post" action="contact.php" name="contactform" id="contactform" class="form form-stacked c-form">
        <fieldset>
          <input name="name" type="text" id="name" placeholder="Your Name" />
          <input name="email" type="text" id="email" placeholder="Your E-mail" />
          <textarea name="comments" id="comments" placeholder="Message"></textarea>
          <input name="verify" type="text" id="verify" size="4" value="" placeholder="3 + 1 =" />
          <input type="submit" class="submit btn outline" id="submit" value="Send message" />
        </fieldset>
      </form>
    </div>
    <!-- Contact details -->
    <div class="four col text-left">
      <h3 class="h6 uber mb0">Let's get in touch</h3>
      <p>Want to discus your ideas for a new project or just want to say hi? It's all good, we'd love to connect with you. Just fill out the form aside or contact us via the details below.</p> 

      <h3 class="h6 uber mb0">Contact details</h3>
      <address class="c-details">
        <a href="http://www.google.com/maps/@40.7501825,-73.9912312,17z" target="new">
          <i class="fa fa-map-marker"></i>
          <span>Block 697-28-06, Desa Kiara Condominium<br>
          Jalan Damansara, TTDI 60000 Kuala Lumpur </span>
        </a>
        <br>
        <a href="mailto:contact@woolandcandy.com">
          <i class="fa fa-envelope-o"></i>
          <span>contact@woolandcandy.com</span>
        </a>
        <br>
        <a href="tel:+60138238325">
          <i class="fa fa-phone"></i>
          <span>+6013 823 8325</span>
        </a>
      </address>
    </div>
  </div>
</section>