<!-- Back to top -->
<div class="back-top-wrap">
	<a href="#top" class="scrollto"><i class="back-top fa fa-chevron-up"></i></a>
</div>

<!-- Social footer -->
<footer class="social-footer">
	<div class="row">
		<div class="twelve col sf-icons">
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<p class="uber">Connect with us</p>
		</div>
	</div>
</footer>

<!-- Footer -->
<footer class="footer">
	<div class="row">
		<div class="twelve col">
			<p>&copy; 2014 - We've consumed 374 cups of <i class="fa fa-coffee"></i> while building Momentum</p>
		</div>
	</div>
</footer>

<!-- Hidden promo control -->
<div class="promo-control"><a>You might want to read this</a></div>

<!-- Hidden promo -->
<section class="footer-promo">
	<div class="row">
		<div class="eight col center">
			<h3 class="h6 uber text-white mb0">Get 15% discount on your new project!</h3>
			<p>Enter 'footer promo' anywhere in <a href="#contact" class="scrollto inverted underline">your message</a> towards us and get a 15% discount on your new project.</p>
			<p><a href="#" class="btn btn outline light">Get Momentum Today</a></p>
		</div>
	</div>
</section>

<!-- Javascript -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/retina.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.bxslider.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.fitvids.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.equal.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

</body>
</html>