<!-- Top of the page -->
<div id="top"></div>

<!-- Top bar -->
<div class="top-bar tb-large tb-transp">
  <div class="row">
    <div class="twelve col">

      <!-- Symbolic or typographic logo -->
      <div class="tb-logo">
        <a href="{{ page.url | prepend: site.baseurl }}#home" class="scrollto"><img src="images/logo.png" alt="logo"></a>
        <h1><a href="{{ page.url | prepend: site.baseurl }}#home" class="scrollto">Wool And Candy</a></h1>
      </div>

      <!-- Menu toggle -->
      <input type="checkbox" id="toggle" />
      <label for="toggle" class="toggle"></label>
      
      <!-- Menu items -->
      <nav class="menu">
        <ul>
          <li><a href="#home" class="scrollto">Home</a>
          <li><a href="#work" class="scrollto">Work</a>
          <li><a href="#services" class="scrollto">Services</a></li>
          <li><a href="#process" class="scrollto">Process</a></li>
          <li><a href="#about" class="scrollto">About</a></li>
          <li><a href="#contact" class="scrollto">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>