<!-- Home static background -->
<section id="home" class="home">
	<div class="header large bg-img fixed background-one">
		<div class="header-inner">
			<!-- Content -->
			<h2 class="bigtext text-white uber mb0">Wool and Candy</h2>
			<h6 class="serif bigtext text-white">Bespoke Web Development made by Web Artisan</h6>
			<a class="scrollto btn outline light grid-mt grid-ms" href="#intro">Experience more</a>
			<a class="popup-vimeo btn white grid-mt grid-ms" href="http://vimeo.com/88131286"><i class="fa fa-play"></i> Play video</a>
		</div>
	</div>
</section>
