<!-- Introduction -->
<section id="intro" class="intro">


  <!-- Introduction text -->
  <div class="row">
    <div class="eight col center text-center">
      <h3 class="uber"><span class="serif">Momentum is a</span> passionate team <span class="serif">of</span> friendly people
      <span class="serif">&mdash; We're all about</span> creative stuff<span class="serif">,</span> branding <span class="serif">&amp;</span> strategy <span class="serif">and we</span> love <span class="serif">it.</span></h3>
    </div>
  </div>


  <!-- Icon navigation -->
  <div class="row equal">


    <!-- Icon -->
    <div class="three col medium-three col small-six col">
      <div class="icon-nav">
        <a href="#work" class="scrollto">
          <i class="fa fa-briefcase"></i>
          <b>Our work</b>
          <em>What we've made so far</em>
        </a>
      </div>
    </div>


    <!-- Icon -->
    <div class="three col medium-three col small-six col">
      <div class="icon-nav">
        <a href="#services" class="scrollto">
          <i class="fa fa-star-o"></i>
          <b>Our services</b>
          <em>What we can do for you</em>
        </a>
      </div>
    </div>


    <!-- Icon -->
    <div class="three col medium-three col small-six col">
      <div class="icon-nav">
        <a href="#about" class="scrollto">
          <i class="fa fa-thumbs-o-up"></i>
          <b>About us</b>
          <em>Meet our crew</em>
        </a>
      </div>
    </div>


    <!-- Icon -->
    <div class="three col medium-three col small-six col">
      <div class="icon-nav">
        <a href="#contact" class="scrollto">
          <i class="fa fa-envelope-o"></i>
          <b>Contact</b>
          <em>Let's get in touch</em>
        </a>
      </div>
    </div>


  </div>
</section>