<!-- Process -->
	<section id="process" class="process">


		<!-- Title -->
		<div class="row title title-light">
			<h2>Process</h2>
			<hr>
		</div>


		<!-- Process items -->
		<div class="row equal">


			<!-- Process item -->
			<div class="three col medium-six col small-twelve col">
				<div class="icon-circle">
					<i class="fa fa-comments"></i>
					<h3 class="h6 uber mb0 text-white">1. Connect</h3>
					<p>It all starts with discussing your project and the ideas to make your project become a succes.</p>
				</div>
			</div>


			<!-- Process item -->
			<div class="three col medium-six col small-twelve col">
				<div class="icon-circle">
					<i class="fa fa-cubes"></i>
					<h3 class="h6 uber mb0 text-white">2. Design</h3>
					<p>Sketching, wireframing and designing. We always keep you up to date of the progress we make.</p>
				</div>
			</div>


			<!-- Process item -->
			<div class="three col medium-six col small-twelve col">
				<div class="icon-circle">
					<i class="fa fa-cogs"></i>
					<h3 class="h6 uber mb0 text-white">3. Development</h3>
					<p>We make sure the stuff is actually working for every customer around the globe.</p>
				</div>
			</div>


			<!-- Process item -->
			<div class="three col medium-six col small-twelve col">
				<div class="icon-circle">
					<i class="fa fa-refresh"></i>
					<h3 class="h6 uber mb0 text-white">4. Keeping it up</h3>
					<p>We make sure to keep your project up and running and keep thinking about new strategies.</p>
				</div>
			</div>


		</div>
	</section>