		<!-- Quote slider -->
		<div class="row">
			<div class="twelve col text-center qs-wrap">
				<div class="bg-white bg-padding">
					<div class="row">
						<div class="eight col offset-by-two">
							<ul class="quote-slider">


								<!-- Quote -->
								<li>
									<h3 class="uber">Momentum <span class="serif">is not your typical</span> 'bla bla bla' agency. <span class="serif">They're</span> honest, hardworking people <span class="serif">who simply</span> do stuff <span class="serif">instead of</span> talking <span class="serif">about it.</span></h3>
									<p>George Grant - <em>CEO at Huge Company Inc</em></p>
								</li>


								<!-- Quote -->
								<li>
									<h3 class="uber"><span class="serif">The people of</span> Momentum <span class="serif">did an</span> awesome job <span class="serif">for our</span> new website.</h3>
									<p>Veronica Corningstone - <em>Editor at Company Inc</em></p>
								</li>


								<!-- Quote -->
								<li>
									<h3 class="uber"><span class="serif">There are</span> three responses <span class="serif">to a</span> piece of design <span class="serif">&mdash; yes, no, and</span> WOW! <span class="serif">Wow is</span> the one <span class="serif">to aim for.</span></h3>
									<p>Milton Glaser - <em>CEO at MG Inc</em></p>
								</li>


							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>


