
	<!-- Services -->
	<section id="services" class="services section-slider">


		<!-- Title -->
		<div class="row title">
			<h2>Services</h2>
			<hr>
		</div>


		<!-- Services slider -->
		<div class="row relative">
			<div class="owlcarousel services-slider">


				<!-- Service item -->
				<div class="grid-ms">
					<div class="service-item">
						<i class="fa fa-star-o"></i>
						<h3>Branding</h3>
						<p class="subline">Image is Everything</p>
						<hr>
						<ul>
							<li>From logo to billboard</li>
							<li>Custom font included</li>
							<li>Free burgers</li>
						</ul>
						<p class="serif mb0">Staring at $799</p>
						<a class="arrow-link scrollto" href="#contact">Get in touch</a>
					</div>
				</div>


				<!-- Service item -->
				<div class="grid-ms">
					<div class="service-item">
						<i class="fa fa-cubes"></i>
						<h3>Design</h3>
						<p class="subline">Bespoke &amp; Handcrafted</p>
						<hr>
						<ul>
							<li>From flyer to website</li>
							<li>Always a unique concept</li>
							<li>Free gadgets</li>
						</ul>
						<p class="serif mb0">Staring at $49 / hour</p>
						<a class="arrow-link scrollto" href="#contact">Get in touch</a>
					</div>
				</div>


				<!-- Service item -->
				<div class="grid-ms">
					<div class="service-item">
						<i class="fa fa-keyboard-o"></i>
						<h3>Development</h3>
						<p class="subline">Agile and Powerful</p>
						<hr>
						<ul>
							<li>From WordPress to Magento</li>
							<li>Zero bloat code guaranteed</li>
							<li>Free icecream</li>
						</ul>
						<p class="serif mb0">Staring at $59 / hour</p>
						<a class="arrow-link scrollto" href="#contact">Get in touch</a>
					</div>
				</div>


				<!-- Service item -->
				<div class="grid-ms">
					<div class="service-item">
						<i class="fa fa-bullseye"></i>
						<h3>Strategy</h3>
						<p class="subline">Faster &amp; Better Results</p>
						<hr>
						<ul>
							<li>SEO strategy included</li>
							<li>Audience targeting</li>
							<li>Free balloons</li>
						</ul>
						<p class="serif mb0">Staring at $49 / hour</p>
						<a class="arrow-link scrollto" href="#contact">Get in touch</a>
					</div>
				</div>


				<!-- Service item -->
				<div class="grid-ms">
					<div class="service-item">
						<i class="fa fa-pencil"></i>
						<h3>Illustrations</h3>
						<p class="subline">The Authentic Stuff</p>
						<hr>
						<ul>
							<li>From sketch to comic book</li>
							<li>Simple or detailed style</li>
							<li>Free soda's</li>
						</ul>
						<p class="serif mb0">Staring at $49 / hour</p>
						<a class="arrow-link scrollto" href="#contact">Get in touch</a>
					</div>
				</div>


				<!-- Service item -->
				<div class="grid-ms">
					<div class="service-item">
						<i class="fa fa-camera-retro"></i>
						<h3>Photography</h3>
						<p class="subline">The Good Stuff</p>
						<hr>
						<ul>
							<li>200 Miles included</li>
							<li>Retouching up to 25 photo's</li>
							<li>Free candy</li>
						</ul>
						<p class="serif mb0">Staring at $499 / day</p>
						<a class="arrow-link scrollto" href="#contact">Get in touch</a>
					</div>
				</div>


			</div>


			<!-- Controls for the services slider -->
			<a class="serv-prev oc-left"><i class="arrow-control fa fa-angle-left"></i></a>
			<a class="serv-next oc-right"><i class="arrow-control fa fa-angle-right"></i></a>


		</div>
	</section>
