<!-- Employee slider -->
		<div class="row relative">
			<div class="owlcarousel employee-slider grid-mt">


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Gary Gant</h3>
						<p>CEO &amp; Founder</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Eve Bayran</h3>
						<p>Branding Expert</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Mark Robinson</h3>
						<p>Developer</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-flickr"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Stacey Cash</h3>
						<p>Photographer</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>John Smith</h3>
						<p>Designer</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Lisa Edwards</h3>
						<p>SEO Expert</p>
					</div>
				</div>


			</div>


			<!-- Controls for the employee slider -->
			<a class="emp-prev oc-left"><i class="arrow-control fa fa-angle-left"></i></a>
			<a class="emp-next oc-right"><i class="arrow-control fa fa-angle-right"></i></a>


		</div>
	</section>
