<!-- Employee slider -->
		<div class="row relative">
			<div class="owlcarousel employee-slider grid-mt">


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Sabri Ibrahim</h3>
						<p>Front End Web Developer &amp; Co-Founder</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Zaki Salleh</h3>
						<p>UX Designer &amp; Co-Founder</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Jibone</h3>
						<p>Full Stack Developer</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-flickr"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Rizal Muthi</h3>
						<p>Rails Developer</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Nik Muhammad Amin</h3>
						<p>Android Developer</p>
					</div>
				</div>


				<!-- Employee -->
				<div class="grid-ms">
					<div class="overlay-item">
						<span class="o-hover">
							<span>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</span>
						</span>
						<img src="images/placeholder-380x468.png" alt="placeholder-380x468" class="responsive-img">
					</div>
					<div class="e-info">
						<h3>Zhafir Al Wafi</h3>
						<p>Business Development</p>
					</div>
				</div>


			</div>


			<!-- Controls for the employee slider -->
			<a class="emp-prev oc-left"><i class="arrow-control fa fa-angle-left"></i></a>
			<a class="emp-next oc-right"><i class="arrow-control fa fa-angle-right"></i></a>


		</div>
	</section>
