<!-- Work -->
	<section id="work" class="work section-slider">


		<!-- Title -->
		<div class="row title">
			<h2>Work</h2>
			<hr>
		</div>


		<!-- Work slider -->
		<div class="row relative">
			<div class="owlcarousel work-slider">


				<!-- Work item -->
				<div class="grid-ms">
					<div class="overlay-item">
						<a class="popup-vimeo" href="http://vimeo.com/88131286">
							<span class="o-hover">
								<span>
									<i class="fa fa-film fa-2x"></i>
								</span>
							</span>
							<img src="images/placeholder-380x253.png" alt="placeholder-380x253" class="responsive-img">
						</a>
					</div>
					<div class="e-info">
						<h3>Project title</h3>
						<p>Vimeo Popup</p>
					</div>
				</div>


				<!-- Work item -->
				<div class="grid-ms">
					<div class="overlay-item">
						<a class="popup-youtube" href="http://www.youtube.com/watch?v=kn-1D5z3-Cs">
							<span class="o-hover">
								<span>
									<i class="fa fa-film fa-2x"></i>
								</span>
							</span>
							<img src="images/placeholder-380x253.png" alt="placeholder-380x253" class="responsive-img">
						</a>
					</div>
					<div class="e-info">
						<h3>Early coffee</h3>
						<p>YouTube Popup</p>
					</div>
				</div>


				<!-- Work item -->
				<div class="grid-ms">
					<div class="overlay-item">
						<a class="popup" href="images/placeholder-800x533.png">
							<span class="o-hover">
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</span>
							<img src="images/placeholder-380x253.png" alt="placeholder-380x253" class="responsive-img">
						</a>
					</div>
					<div class="e-info">
						<h3>Untitled</h3>
						<p>Simple Popup</p>
					</div>
				</div>


				<!-- Work item -->
				<div class="grid-ms">
					<div class="overlay-item">
						<a class="popup-gallery" href="images/placeholder-800x533.png">
							<span class="o-hover">
								<span>
									<i class="fa fa-image fa-2x"></i>
								</span>
							</span>
							<img src="images/placeholder-380x253.png" alt="placeholder-380x253" class="responsive-img">
						</a>
					</div>
					<div class="e-info">
						<h3>One gear only</h3>
						<p>Gallery Popup</p>
					</div>
				</div>


				<!-- Work item -->
				<div class="grid-ms">
					<div class="overlay-item">
						<a class="popup" href="images/placeholder-800x533.png">
							<span class="o-hover">
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</span>
							<img src="images/placeholder-380x253.png" alt="placeholder-380x253" class="responsive-img">
						</a>
					</div>
					<div class="e-info">
						<h3>Land of the lost</h3>
						<p>Photography</p>
					</div>
				</div>


				<!-- Work item -->
				<div class="grid-ms">
					<div class="overlay-item">
						<a class="popup-gallery" href="images/placeholder-800x533.png">
							<span class="o-hover">
								<span>
									<i class="fa fa-image fa-2x"></i>
								</span>
							</span>
							<img src="images/placeholder-380x253.png" alt="placeholder-380x253" class="responsive-img">
						</a>
					</div>
					<div class="e-info">
						<h3>Venice Beach</h3>
						<p>Gallery Popup</p>
					</div>
				</div>


			</div>


			<!-- Controls for the work slider -->
			<a class="work-prev oc-left"><i class="fa fa-angle-left"></i></a>
			<a class="work-next oc-right"><i class="fa fa-angle-right"></i></a>


		</div>
	</section>


